/* ===================================
   ✨ HEADER
=================================== */

header {
  width: 100%;
  padding: 1rem;
  background-color: var(--glass-dark);
  backdrop-filter: blur(2px);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-sm);
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  border: 3px solid #000;
}

h2{
  font-size: var(--font-size-lg);
  color: var(--text-light);
  margin: 0;
  margin-bottom: 2rem;
}

input, textarea {
  
  background: var(--text-dark);
  color: var(--gray-light);
  font-size: var(--font-size-sm);
  width: 100%;
  padding: 20px 20px;
  margin-bottom: 15px;
  border-radius: var(--radius-sm);
  border: 1px solid var(--text-dark);
}

input:focus {
  outline: none;
  border-color: var(--blue);
  box-shadow: 0 0 5px rgba(37, 99, 235, 0.5);
}

input:hover {
  outline: none;
  border-color: var(--blue);
  box-shadow: 0 0 5px rgba(37, 99, 235, 0.5);
}

img.imgLogo-admin {
  width: 80px;
  height: auto;
  margin-right: 10px;
}