/* ===================================
   ✨ TRANSICIONES Y VISIBILIDAD
=================================== */
.transicion {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.oculto {
  opacity: 0;
  pointer-events: none;
  transform: translateY(30px);
  position: absolute;
  width: 100%;
}

.visible {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
  position: relative;
  width: 100%;
}

/* ===================================
   🧾 TITULARES Y TEXTO
=================================== */
h1 {
  font-size: var(--font-size-xl);
  color: var(--text-light); 
  align-items: center;
}
strong, p {
  color: inherit;
}